*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cal {
    margin-top: 20px;
}

table {
    margin-left: auto;
    margin-right: auto;
    background-color: #261313;
    border-radius: 2%;
    padding-bottom: 30px;
    
}

input[type=button]{
    width: 45px;
    height: 40px;
}

#display {
    height: 70px;
    width: 254px;
    margin-top: 20px;
    background: 2px;
    background-color: darkseagreen;
    border-radius: 6%;
    border-color: black;
    margin-bottom: 20px;
}

#clear {
    background-color: #ff4400;
    font-size: 30px;
}

#bt {
    border-top-left-radius: 15%;
    border-bottom-left-radius: 18%;
    font-size: 30px;
    font-style: italic;
}

#plus {
    border-radius: 16%;
    font-size: 40px;
}